[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langgraph = "*"
langchain-core = "*"
langchain-openai = "*"
tavily-python = "*"
pytrends = "*"
pandas = "*"
beautifulsoup4 = "*"
httpx = "*"
python-dotenv = "*"
langchain-community = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.10"
